In [289]:
%reset -fs
import pandas as pd
import seaborn as sns
import requests
import time, os
from bs4 import BeautifulSoup
import datetime
import re
from datetime import date
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', 500)

In [290]:
chromedriver = "/Applications/chromedriver"
os.environ['webdriver.chrome.driver'] = chromedriver

In [291]:
driver = webdriver.Chrome(chromedriver)

In [292]:
prop_bets = {}

bet_search =  'https://www.bettingpros.com/nba/picks/prop-bets/bet/points/'
query = '?date=' + datetime.date.today().strftime('%Y-%m-%d')
bet_query = bet_search + query
response = requests.get(bet_query)
page = response.text
driver.get(bet_query)
#print(driver.page_source)
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [293]:
table = soup.find('table')
table_header_data = table.find_all('tr')

In [294]:
headers = []
for th in table_header_data[0].find_all('th'):
    headers.append(th.text.replace('\n', ' ').strip())
headers

['RK',
 'Player',
 'Opp',
 'Stat',
 'O/U Line',
 'Projection',
 'Diff',
 'Pick',
 'Pick']

In [295]:
table_data = table.tbody.find_all('tr')
data_str = []
data = []
for tr in table_data:
    data_str.append(tr.text.replace('\n', ' ').strip())
for i in data_str:
    li = list(i.split('            '))
    data.append(li)
data
df = pd.DataFrame(data)
df.columns = ['Name', 'Team', 'Opp', 'Type', 'Line']

In [296]:
player_name = df.Name.str.split(" ", expand = True)
player_name
df['Name'] = player_name[2] + ' ' + player_name[4]

In [297]:
df

            Name     Team      Opp             Type                                               Line
0   Devin Booker  PHO - G  vs. IND           Points         26.50 (-115)22.16Diff: -4.34 Line: 26.5...
1    Jae Crowder  PHO - F  vs. IND           Points         9.50 (-110)8.90Diff: -0.60 Line: 9.50 C...
2  Mikal Bridges  PHO - F  vs. IND           Points         11.50 (-105)11.20Diff: -0.30 Line: 11.5...
3     Chris Paul  PHO - G  vs. IND           Points         13.50 (-110)13.39Diff: -0.11 Line: 13.5...

In [298]:
team = df.Team.str.split(" ", expand = True)
team

     0  1  2
0  PHO  -  G
1  PHO  -  F
2  PHO  -  F
3  PHO  -  G

In [299]:
df['Team'] = team[0]
df['Position'] = team[2]
df

            Name Team      Opp             Type                                               Line Position
0   Devin Booker  PHO  vs. IND           Points         26.50 (-115)22.16Diff: -4.34 Line: 26.5...        G
1    Jae Crowder  PHO  vs. IND           Points         9.50 (-110)8.90Diff: -0.60 Line: 9.50 C...        F
2  Mikal Bridges  PHO  vs. IND           Points         11.50 (-105)11.20Diff: -0.30 Line: 11.5...        F
3     Chris Paul  PHO  vs. IND           Points         13.50 (-110)13.39Diff: -0.11 Line: 13.5...        G

In [300]:
opp = df.Opp.str.split(" ", expand = True)
opp

     0    1
0  vs.  IND
1  vs.  IND
2  vs.  IND
3  vs.  IND

In [301]:
df.Opp = opp[1]
df

            Name Team  Opp             Type                                               Line Position
0   Devin Booker  PHO  IND           Points         26.50 (-115)22.16Diff: -4.34 Line: 26.5...        G
1    Jae Crowder  PHO  IND           Points         9.50 (-110)8.90Diff: -0.60 Line: 9.50 C...        F
2  Mikal Bridges  PHO  IND           Points         11.50 (-105)11.20Diff: -0.30 Line: 11.5...        F
3     Chris Paul  PHO  IND           Points         13.50 (-110)13.39Diff: -0.11 Line: 13.5...        G

In [302]:
bet_info = df.Line.str.split(" ", expand = True)
bet_info

  0  1  2  3  4  5  6      7                 8      9      10     11     12    13      14     15 16 17 18     19 20 21 22 23 24 25 26 27 28      29 30 31 32 33 34         35 36 37 38 39 40 41 42 43 44      45    46
0                       26.50  (-115)22.16Diff:  -4.34  Line:  26.50  Cost:  -115  Proj.:  22.16           Pick:                             u26.50                 PointsBet                             (Place  Bet)
1                        9.50   (-110)8.90Diff:  -0.60  Line:   9.50  Cost:  -110  Proj.:   8.90           Pick:                              u9.50                 PointsBet                             (Place  Bet)
2                       11.50  (-105)11.20Diff:  -0.30  Line:  11.50  Cost:  -105  Proj.:  11.20           Pick:                             u11.50                 PointsBet                             (Place  Bet)
3                       13.50  (-110)13.39Diff:  -0.11  Line:  13.50  Cost:  -110  Proj.:  13.39           Pick:                             u13.50                 PointsBet                             (Place  Bet)

In [303]:
df['Line'] = bet_info[7]
df['Projection'] = bet_info[15]
df['Diff'] = bet_info[9]
df['Moneyline'] = bet_info[13]
df

            Name Team  Opp             Type   Line Position Projection   Diff Moneyline
0   Devin Booker  PHO  IND           Points  26.50        G      22.16  -4.34      -115
1    Jae Crowder  PHO  IND           Points   9.50        F       8.90  -0.60      -110
2  Mikal Bridges  PHO  IND           Points  11.50        F      11.20  -0.30      -105
3     Chris Paul  PHO  IND           Points  13.50        G      13.39  -0.11      -110

In [222]:
base = datetime.datetime.today()
delta = base - datetime.datetime(2021, 10, 19)
date_list = [base - datetime.timedelta(days=x) for x in range(delta.days+1)]
date_list = [d.strftime('%Y-%m-%d') for d in date_list]
len(date_list)

96

In [ ]:
for i in date_list:
    url = bet_search + '?date=' + i
    response = requests.get(url)
    page = response.text

In [ ]:
def get_betting_table(date):
    bet_url =  'https://www.bettingpros.com/nba/picks/prop-bets/bet/points/'
    query_string = '?date=' + datetime.date.today().strftime('%Y-%m-%d')
    url = bet_search + query
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page, 'lxml')
    table = soup.find('table')

In [29]:
driver.page_source[:1000]

'<html lang="en"><head>\n    <meta charset="UTF-8">\n    <meta name="viewport" content="width=device-width, initial-scale=1">\n        <link rel="canonical" href="https://www.bettingpros.com/nba/picks/prop-bets/bet/points/">\n    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800%7CRaleway:400,500,600,700,800%7CTitillium+Web:200,400,600,700&amp;subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese" rel="stylesheet">\n    <link rel="stylesheet" href="/assets/css/min/stylesheet-8f65062da6677a86d71694843b3c50d6.css">\n    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">\n\n            <meta name="apple-itunes-app" content="app-id=1468109182, app-argument=https://www.bettingpros.com/nba/picks/prop-bets/bet/points/">\n        <script crossorigin="anonymous" src="https://surveys-static.survicate.com/widget_core-13.5.6.js" async=""></script><script src="https://partner.googleadservices.com/gampad/cookie.js?domain=www.bettingpros.com&amp;callback=_gfp_'

In [30]:
soup = BeautifulSoup(driver.page_source, 'html.parser')