In [1]:
%reset -fs
import pandas as pd
import seaborn as sns
import numpy as np
import requests
import time, os
from bs4 import BeautifulSoup
import datetime
import re
from datetime import date
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', None)

In [2]:
chromedriver = "/Applications/chromedriver"
os.environ['webdriver.chrome.driver'] = chromedriver

In [3]:
driver = webdriver.Chrome(chromedriver)

In [4]:
bet_search =  'https://www.bettingpros.com/nba/picks/prop-bets/bet/points/'
query = '?date=' + datetime.date(2021, 10, 19).strftime('%Y-%m-%d')
bet_query = bet_search + query

In [5]:
base = datetime.datetime.today()
delta = base - datetime.datetime(2021, 10, 19)
date_list = [base - datetime.timedelta(days=x) for x in range(delta.days+1)]
date_list = [d.strftime('%Y-%m-%d') for d in date_list]

In [6]:
bet_query = bet_search + '?date=' + '2021-12-20'
driver.get(bet_query)
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [7]:
#run this initially; then don't run again if you just want to keep adding to it
final_df = pd.DataFrame()

In [8]:
# Tip of the hat to Rita for helping with these two functions !
def get_site_rb(date):
    bet_query = bet_search + '?date=' + date
    driver.get(bet_query)
    time.sleep(5)
    try:
        element = driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
        action = ActionChains(driver)
        action.move_to_element(element).click().perform()
    except:
        pass
    get_data_rb()

In [9]:
def get_data_rb():
    data_str = []
    data = []
    li = []
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    table = soup.find('table')
    date = soup.find('h1').text
    date = date.split(" ")[5]
    date.strip(')')
    date = date.replace('(',"").replace(')',"")
    house_accuracy = soup.find('div', class_='best-props__accuracy').text
    table_data = table.tbody.find_all('tr')
    for tr in table_data:
        data_str.append(tr.text.replace('\n', ' ').strip())
    for i in data_str:
        li = list(i.split('            '))
        data.append(li)
    for i in data:
        if len(i) == 7:
            i.append('TBD')
            i.append(date)
            i.append(house_accuracy)
        else:
            i.append(date)
            i.append(house_accuracy)
    global final_df
    final_df = final_df.append(pd.DataFrame(data))
    time.sleep(1)

    try:
        page_progress = driver.find_element_by_xpath('//div[contains(@class, "table__pagination")]').text.strip("«").strip("»").strip()
        if int(page_progress[5]) == int(page_progress[10]):
            return final_df
        else:
            element = driver.find_element_by_xpath('/html/body/div[2]/main/div/div/div/div[4]/div/div/a[2]')
            action = ActionChains(driver)
            action.move_to_element(element).click().perform()
            time.sleep(3)
            get_data_rb()
    except:
        return final_df

In [10]:
#run this and then close the cookies pop-up!
for i in date_list:
    
    if i == '2021-12-24':
        continue
    if i == '2021-11-25':
        continue
    get_site_rb(i)

In [11]:
driver.close()

In [14]:
#Clean up below
final_df.columns=['Name', 'Team', 'Opp', 'Type', 'Line', 'Pick', 'Moneyline', 'Result', 'Date', 'Accuracy']

                            Name     Team      Opp             Type                                               Line        Pick                                  Moneyline                   Result        Date                                           Accuracy
0        1 L. LaMarcus  Aldridge  BKN - C  vs. DEN           Points         12.50 (-120)16.90Diff: 4.40 Line: 12.50...        12.5    -120           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...
1                2 J. Ja  Morant  MEM - G    @ SAS           Points         29.50 (-141)25.60Diff: -3.90 Line: 29.5...        29.5    -141           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...
2            3 D. Devin  Vassell  SAS - G  vs. MEM           Points         9.50 (-130)13.40Diff: 3.90 Line: 9.50 C...         9.5    -130           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...
3            4 T. Terrence  Ross  ORL - G  vs. LAC           Points         8.50 (-105)4.70Diff: -3.80 Line: 8.50 C...         8.5    -105           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...
4                5 D. Dean  Wade  CLE - F  vs. MIL           Points         7.50 (-125)3.80Diff: -3.70 Line: 7.50 C...         7.5    -125           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...
..                           ...      ...      ...              ...                                                ...         ...                                        ...                      ...         ...                                                ...
21          22 G. Grayson  Allen  MIL - G  vs. BKN           Points         10.50 (-113)11.23Diff: 0.73 Line: 10.50...        10.5                                       -113       10         (under)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)
22        23 N. Nemanja  Bjelica  GSW - F    @ LAL           Points         6.50 (-120)6.87Diff: 0.37 Line: 6.50 Co...         6.5                                       -120        15         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)
23         24 D. DeAndre  Jordan  LAL - C  vs. GSW           Points         4.50 (-130)4.82Diff: 0.32 Line: 4.50 Co...         4.5                                       -130        2         (under)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)
24        25 P. Pat  Connaughton  MIL - G  vs. BKN           Points         7.50 (-111)7.19Diff: -0.31 Line: 7.50 C...         7.5                                       -111        20         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)
25  26 G. Giannis  Antetokounmpo  MIL - F  vs. BKN           Points         30.50 (-108)30.52Diff: 0.02 Line: 30.50...        30.5                                       -108        32         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)

[9391 rows x 10 columns]

In [16]:
player_name = final_df.Name.str.split(" ", expand = True)
final_df['Name'] = player_name[2] + ' ' + player_name[4]

In [19]:
final_df.reset_index(inplace=True, drop=True)

In [21]:
final_df.drop(columns=['index'], inplace=True)

In [22]:
team = final_df.Team.str.split(" ", expand = True)

        0  1  2
0     BKN  -  C
1     MEM  -  G
2     SAS  -  G
3     ORL  -  G
4     CLE  -  F
...   ... .. ..
9386  MIL  -  G
9387  GSW  -  F
9388  LAL  -  C
9389  MIL  -  G
9390  MIL  -  F

[9391 rows x 3 columns]

In [23]:
final_df['Team'] = team[0]
final_df['Position'] = team[2]

                       Name Team      Opp             Type                                               Line        Pick                                  Moneyline                   Result        Date                                           Accuracy Position
0         LaMarcus Aldridge  BKN  vs. DEN           Points         12.50 (-120)16.90Diff: 4.40 Line: 12.50...        12.5    -120           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        C
1                 Ja Morant  MEM    @ SAS           Points         29.50 (-141)25.60Diff: -3.90 Line: 29.5...        29.5    -141           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        G
2             Devin Vassell  SAS  vs. MEM           Points         9.50 (-130)13.40Diff: 3.90 Line: 9.50 C...         9.5    -130           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        G
3             Terrence Ross  ORL  vs. LAC           Points         8.50 (-105)4.70Diff: -3.80 Line: 8.50 C...         8.5    -105           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        G
4                 Dean Wade  CLE  vs. MIL           Points         7.50 (-125)3.80Diff: -3.70 Line: 7.50 C...         7.5    -125           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        F
...                     ...  ...      ...              ...                                                ...         ...                                        ...                      ...         ...                                                ...      ...
9386          Grayson Allen  MIL  vs. BKN           Points         10.50 (-113)11.23Diff: 0.73 Line: 10.50...        10.5                                       -113       10         (under)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         G
9387        Nemanja Bjelica  GSW    @ LAL           Points         6.50 (-120)6.87Diff: 0.37 Line: 6.50 Co...         6.5                                       -120        15         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         F
9388         DeAndre Jordan  LAL  vs. GSW           Points         4.50 (-130)4.82Diff: 0.32 Line: 4.50 Co...         4.5                                       -130        2         (under)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         C
9389        Pat Connaughton  MIL  vs. BKN           Points         7.50 (-111)7.19Diff: -0.31 Line: 7.50 C...         7.5                                       -111        20         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         G
9390  Giannis Antetokounmpo  MIL  vs. BKN           Points         30.50 (-108)30.52Diff: 0.02 Line: 30.50...        30.5                                       -108        32         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         F

[9391 rows x 11 columns]

In [24]:
opp = final_df.Opp.str.split(" ", expand = True)

        0    1
0     vs.  DEN
1       @  SAS
2     vs.  MEM
3     vs.  LAC
4     vs.  MIL
...   ...  ...
9386  vs.  BKN
9387    @  LAL
9388  vs.  GSW
9389  vs.  BKN
9390  vs.  BKN

[9391 rows x 2 columns]

In [25]:
final_df.Opp = opp[1]
final_df['Home/Away'] = opp[0]

                       Name Team  Opp             Type                                               Line        Pick                                  Moneyline                   Result        Date                                           Accuracy Position Home/Away
0         LaMarcus Aldridge  BKN  DEN           Points         12.50 (-120)16.90Diff: 4.40 Line: 12.50...        12.5    -120           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        C       vs.
1                 Ja Morant  MEM  SAS           Points         29.50 (-141)25.60Diff: -3.90 Line: 29.5...        29.5    -141           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        G         @
2             Devin Vassell  SAS  MEM           Points         9.50 (-130)13.40Diff: 3.90 Line: 9.50 C...         9.5    -130           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        G       vs.
3             Terrence Ross  ORL  LAC           Points         8.50 (-105)4.70Diff: -3.80 Line: 8.50 C...         8.5    -105           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        G       vs.
4                 Dean Wade  CLE  MIL           Points         7.50 (-125)3.80Diff: -3.70 Line: 7.50 C...         7.5    -125           (Place Bet)          TBD                      TBD  01-26-2022  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...        F       vs.
...                     ...  ...  ...              ...                                                ...         ...                                        ...                      ...         ...                                                ...      ...       ...
9386          Grayson Allen  MIL  BKN           Points         10.50 (-113)11.23Diff: 0.73 Line: 10.50...        10.5                                       -113       10         (under)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         G       vs.
9387        Nemanja Bjelica  GSW  LAL           Points         6.50 (-120)6.87Diff: 0.37 Line: 6.50 Co...         6.5                                       -120        15         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         F         @
9388         DeAndre Jordan  LAL  GSW           Points         4.50 (-130)4.82Diff: 0.32 Line: 4.50 Co...         4.5                                       -130        2         (under)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         C       vs.
9389        Pat Connaughton  MIL  BKN           Points         7.50 (-111)7.19Diff: -0.31 Line: 7.50 C...         7.5                                       -111        20         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         G       vs.
9390  Giannis Antetokounmpo  MIL  BKN           Points         30.50 (-108)30.52Diff: 0.02 Line: 30.50...        30.5                                       -108        32         (over)  10-19-2021    Season-to-date Top 15  Accuracy: 745-680 (52%)         F       vs.

[9391 rows x 12 columns]

In [26]:
bet_info = final_df.Line.str.split(" ", expand = True)

     0  1  2  3  4  5  6      7                 8      9      10     11     12    13      14      15    16
0                          12.50  (-120)16.90Diff:   4.40  Line:  12.50  Cost:  -120  Proj.:  16.90o  None
1                          29.50  (-141)25.60Diff:  -3.90  Line:  29.50  Cost:  -141  Proj.:   25.60     u
2                           9.50  (-130)13.40Diff:   3.90  Line:   9.50  Cost:  -130  Proj.:  13.40o  None
3                           8.50   (-105)4.70Diff:  -3.80  Line:   8.50  Cost:  -105  Proj.:    4.70     u
4                           7.50   (-125)3.80Diff:  -3.70  Line:   7.50  Cost:  -125  Proj.:    3.80     u
...  .. .. .. .. .. .. ..    ...               ...    ...    ...    ...    ...   ...     ...     ...   ...
9386                       10.50  (-113)11.23Diff:   0.73  Line:  10.50  Cost:  -113  Proj.:  11.23o  None
9387                        6.50   (-120)6.87Diff:   0.37  Line:   6.50  Cost:  -120  Proj.:   6.87o  None
9388                        4.50   (-130)4.82Diff:   0.32  Line:   4.50  Cost:  -130  Proj.:   4.82o  None
9389                        7.50   (-111)7.19Diff:  -0.31  Line:   7.50  Cost:  -111  Proj.:    7.19     u
9390                       30.50  (-108)30.52Diff:   0.02  Line:  30.50  Cost:  -108  Proj.:  30.52o  None

[9391 rows x 17 columns]

In [34]:
final_df['Line'] = bet_info[7]
final_df['Projection'] = bet_info[15]
final_df['Diff'] = bet_info[9]
final_df['Moneyline'] = bet_info[13]
final_df['over_under'] = bet_info[16]
final_df['over_under'] = final_df['over_under'].fillna('o')

In [35]:
final_df = final_df[['Date', 'Name', 'Team', 'Position', 'Opp','Home/Away', 'Line', 'Moneyline', 'Projection', 'Diff', 'Pick', 'Result', 'Accuracy', 'over_under']]

            Date                   Name Team Position  Opp Home/Away   Line Moneyline Projection   Diff        Pick                   Result                                           Accuracy over_under
0     01-26-2022      LaMarcus Aldridge  BKN        C  DEN       vs.  12.50      -120     16.90o   4.40        12.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          o
1     01-26-2022              Ja Morant  MEM        G  SAS         @  29.50      -141      25.60  -3.90        29.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          u
2     01-26-2022          Devin Vassell  SAS        G  MEM       vs.   9.50      -130     13.40o   3.90         9.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          o
3     01-26-2022          Terrence Ross  ORL        G  LAC       vs.   8.50      -105       4.70  -3.80         8.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          u
4     01-26-2022              Dean Wade  CLE        F  MIL       vs.   7.50      -125       3.80  -3.70         7.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          u
...          ...                    ...  ...      ...  ...       ...    ...       ...        ...    ...         ...                      ...                                                ...        ...
9386  10-19-2021          Grayson Allen  MIL        G  BKN       vs.  10.50      -113     11.23o   0.73        10.5       10         (under)    Season-to-date Top 15  Accuracy: 745-680 (52%)           o
9387  10-19-2021        Nemanja Bjelica  GSW        F  LAL         @   6.50      -120      6.87o   0.37         6.5        15         (over)    Season-to-date Top 15  Accuracy: 745-680 (52%)           o
9388  10-19-2021         DeAndre Jordan  LAL        C  GSW       vs.   4.50      -130      4.82o   0.32         4.5        2         (under)    Season-to-date Top 15  Accuracy: 745-680 (52%)           o
9389  10-19-2021        Pat Connaughton  MIL        G  BKN       vs.   7.50      -111       7.19  -0.31         7.5        20         (over)    Season-to-date Top 15  Accuracy: 745-680 (52%)           u
9390  10-19-2021  Giannis Antetokounmpo  MIL        F  BKN       vs.  30.50      -108     30.52o   0.02        30.5        32         (over)    Season-to-date Top 15  Accuracy: 745-680 (52%)           o

[9391 rows x 14 columns]

In [38]:
final_df['Projection'] = final_df['Projection'].map(lambda x: x.rstrip('ou'))

            Date                   Name Team Position  Opp Home/Away   Line Moneyline Projection   Diff        Pick                   Result                                           Accuracy over_under
0     01-26-2022      LaMarcus Aldridge  BKN        C  DEN       vs.  12.50      -120      16.90   4.40        12.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          o
1     01-26-2022              Ja Morant  MEM        G  SAS         @  29.50      -141      25.60  -3.90        29.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          u
2     01-26-2022          Devin Vassell  SAS        G  MEM       vs.   9.50      -130      13.40   3.90         9.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          o
3     01-26-2022          Terrence Ross  ORL        G  LAC       vs.   8.50      -105       4.70  -3.80         8.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          u
4     01-26-2022              Dean Wade  CLE        F  MIL       vs.   7.50      -125       3.80  -3.70         7.5                      TBD  Last 7 days Top 15  Accuracy: 45-60 (43%)  Sea...          u
...          ...                    ...  ...      ...  ...       ...    ...       ...        ...    ...         ...                      ...                                                ...        ...
9386  10-19-2021          Grayson Allen  MIL        G  BKN       vs.  10.50      -113      11.23   0.73        10.5       10         (under)    Season-to-date Top 15  Accuracy: 745-680 (52%)           o
9387  10-19-2021        Nemanja Bjelica  GSW        F  LAL         @   6.50      -120       6.87   0.37         6.5        15         (over)    Season-to-date Top 15  Accuracy: 745-680 (52%)           o
9388  10-19-2021         DeAndre Jordan  LAL        C  GSW       vs.   4.50      -130       4.82   0.32         4.5        2         (under)    Season-to-date Top 15  Accuracy: 745-680 (52%)           o
9389  10-19-2021        Pat Connaughton  MIL        G  BKN       vs.   7.50      -111       7.19  -0.31         7.5        20         (over)    Season-to-date Top 15  Accuracy: 745-680 (52%)           u
9390  10-19-2021  Giannis Antetokounmpo  MIL        F  BKN       vs.  30.50      -108      30.52   0.02        30.5        32         (over)    Season-to-date Top 15  Accuracy: 745-680 (52%)           o

[9391 rows x 14 columns]

In [39]:
accuracies = final_df.Accuracy.str.split(" ", expand = True)

        0               1     2    3   4          5          6      7      8     9               10    11    12    13         14       15     16    17
0     Last               7  days  Top  15             Accuracy:  45-60  (43%)        Season-to-date   Top    15        Accuracy:  745-680  (52%)
1     Last               7  days  Top  15             Accuracy:  45-60  (43%)        Season-to-date   Top    15        Accuracy:  745-680  (52%)
2     Last               7  days  Top  15             Accuracy:  45-60  (43%)        Season-to-date   Top    15        Accuracy:  745-680  (52%)
3     Last               7  days  Top  15             Accuracy:  45-60  (43%)        Season-to-date   Top    15        Accuracy:  745-680  (52%)
4     Last               7  days  Top  15             Accuracy:  45-60  (43%)        Season-to-date   Top    15        Accuracy:  745-680  (52%)
...    ...             ...   ...  ...  ..        ...        ...    ...    ...   ...             ...   ...   ...   ...        ...      ...    ...   ...
9386        Season-to-date   Top   15      Accuracy:    745-680  (52%)         None            None  None  None  None       None     None   None  None
9387        Season-to-date   Top   15      Accuracy:    745-680  (52%)         None            None  None  None  None       None     None   None  None
9388        Season-to-date   Top   15      Accuracy:    745-680  (52%)         None            None  None  None  None       None     None   None  None
9389        Season-to-date   Top   15      Accuracy:    745-680  (52%)         None            None  None  None  None       None     None   None  None
9390        Season-to-date   Top   15      Accuracy:    745-680  (52%)         None            None  None  None  None       None     None   None  None

[9391 rows x 18 columns]

In [40]:
final_df['seven_day_accuracy'] = accuracies[8]

In [43]:
final_df['seven_day_accuracy'] = final_df['seven_day_accuracy'].map(lambda x: x.lstrip('(').rstrip('%)'))

In [44]:
final_df.seven_day_accuracy = final_df.seven_day_accuracy.replace('', 50, regex=True)

In [47]:
final_df['seven_day_accuracy'] = pd.to_numeric(final_df['seven_day_accuracy'])

In [49]:
final_df['seven_day_accuracy'] = final_df['seven_day_accuracy'].map(lambda x: x/100)

In [53]:
final_df.drop(columns=['Accuracy'], inplace=True)

            Date                   Name Team Position  Opp Home/Away   Line Moneyline Projection   Diff        Pick                   Result over_under  seven_day_accuracy
0     01-26-2022      LaMarcus Aldridge  BKN        C  DEN       vs.  12.50      -120      16.90   4.40        12.5                      TBD          o                0.43
1     01-26-2022              Ja Morant  MEM        G  SAS         @  29.50      -141      25.60  -3.90        29.5                      TBD          u                0.43
2     01-26-2022          Devin Vassell  SAS        G  MEM       vs.   9.50      -130      13.40   3.90         9.5                      TBD          o                0.43
3     01-26-2022          Terrence Ross  ORL        G  LAC       vs.   8.50      -105       4.70  -3.80         8.5                      TBD          u                0.43
4     01-26-2022              Dean Wade  CLE        F  MIL       vs.   7.50      -125       3.80  -3.70         7.5                      TBD          u                0.43
...          ...                    ...  ...      ...  ...       ...    ...       ...        ...    ...         ...                      ...        ...                 ...
9386  10-19-2021          Grayson Allen  MIL        G  BKN       vs.  10.50      -113      11.23   0.73        10.5       10         (under)          o                0.50
9387  10-19-2021        Nemanja Bjelica  GSW        F  LAL         @   6.50      -120       6.87   0.37         6.5        15         (over)          o                0.50
9388  10-19-2021         DeAndre Jordan  LAL        C  GSW       vs.   4.50      -130       4.82   0.32         4.5        2         (under)          o                0.50
9389  10-19-2021        Pat Connaughton  MIL        G  BKN       vs.   7.50      -111       7.19  -0.31         7.5        20         (over)          u                0.50
9390  10-19-2021  Giannis Antetokounmpo  MIL        F  BKN       vs.  30.50      -108      30.52   0.02        30.5        32         (over)          o                0.50

[9391 rows x 14 columns]

In [59]:
final_df['Date'] = pd.to_datetime(final_df['Date'])

In [60]:
# Final form betting df, additional cleaning and saving to csv below
sorted_df = final_df.sort_values(by=['Name', 'Date'])
sorted_df.reset_index(inplace=True, drop=True)

           Date             Name Team Position  Opp Home/Away   Line Moneyline Projection   Diff        Pick                   Result over_under  seven_day_accuracy
0    2021-10-21           Bogdan  ATL        G  DAL       vs.  15.50      -115      16.57   1.07        15.5       11         (under)          o                0.47
1    2021-10-23           Bogdan  ATL        G  CLE         @  14.50      -115      15.29   0.79        14.5        5         (under)          o                0.45
2    2021-10-25           Bogdan  ATL        G  DET       vs.  15.50      -115      12.85  -2.65        15.5        14         (over)          u                0.45
3    2021-10-27           Bogdan  ATL        G  NOR         @  12.50      -125      13.70   1.20        12.5       12         (under)          o                0.45
4    2021-10-28           Bogdan  ATL        G  WAS         @  12.50      -105      16.72   4.22        12.5        14         (over)          o                0.42
...         ...              ...  ...      ...  ...       ...    ...       ...        ...    ...         ...                      ...        ...                 ...
9386 2022-01-17  Ziaire Williams  MEM        G  CHI       vs.   8.50      -105       6.11  -2.39         8.5        2         (under)          u                0.58
9387 2022-01-19  Ziaire Williams  MEM        G  MIL         @   9.50      -103       8.70  -0.80         9.5        10         (over)          u                0.62
9388 2022-01-21  Ziaire Williams  MEM        G  DEN         @   9.50      EVEN       8.90  -0.60         9.5        17         (over)          u                0.59
9389 2022-01-23  Ziaire Williams  MEM        G  DAL         @  10.50      -105       8.60  -1.90        10.5        9         (under)          u                0.55
9390 2022-01-26  Ziaire Williams  MEM        G  SAS         @  10.50      -132       8.20  -2.30        10.5                      TBD          u                0.43

[9391 rows x 14 columns]

In [62]:
sorted_df['Line'] = pd.to_numeric(sorted_df.Line)

In [63]:
sorted_df = sorted_df.replace('EVEN', '+100')

In [64]:
sorted_df = sorted_df.replace('TBD', np.nan)

In [65]:
sorted_df['Moneyline'] = pd.to_numeric(sorted_df.Moneyline)

In [76]:
sorted_df['Result'] = sorted_df.Result.apply(lambda x: str(x));sorted_df

           Date             Name Team Position  Opp Home/Away  Line  Moneyline  Projection  Diff  Pick                   Result over_under  seven_day_accuracy
0    2021-10-21           Bogdan  ATL        G  DAL       vs.  15.5       -115       16.57  1.07  15.5       11         (under)          o                0.47
1    2021-10-23           Bogdan  ATL        G  CLE         @  14.5       -115       15.29  0.79  14.5        5         (under)          o                0.45
2    2021-10-25           Bogdan  ATL        G  DET       vs.  15.5       -115       12.85 -2.65  15.5        14         (over)          u                0.45
3    2021-10-27           Bogdan  ATL        G  NOR         @  12.5       -125       13.70  1.20  12.5       12         (under)          o                0.45
4    2021-10-28           Bogdan  ATL        G  WAS         @  12.5       -105       16.72  4.22  12.5        14         (over)          o                0.42
...         ...              ...  ...      ...  ...       ...   ...        ...         ...   ...   ...                      ...        ...                 ...
9386 2022-01-17  Ziaire Williams  MEM        G  CHI       vs.   8.5       -105        6.11 -2.39   8.5        2         (under)          u                0.58
9387 2022-01-19  Ziaire Williams  MEM        G  MIL         @   9.5       -103        8.70 -0.80   9.5        10         (over)          u                0.62
9388 2022-01-21  Ziaire Williams  MEM        G  DEN         @   9.5        100        8.90 -0.60   9.5        17         (over)          u                0.59
9389 2022-01-23  Ziaire Williams  MEM        G  DAL         @  10.5       -105        8.60 -1.90  10.5        9         (under)          u                0.55
9390 2022-01-26  Ziaire Williams  MEM        G  SAS         @  10.5       -132        8.20 -2.30  10.5                      nan          u                0.43

[9391 rows x 14 columns]

In [97]:
results = sorted_df.Result.str.split(' ', expand=True);

       0     1     2     3     4     5     6     7     8     9     10    11    12    13       14
0                                    11                                                  (under)
1                                     5                                                  (under)
2                                    14                                                   (over)
3                                    12                                                  (under)
4                                    14                                                   (over)
...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...      ...
9386                                  2                                                  (under)
9387                                 10                                                   (over)
9388                                 17                                                   (over)
9389                                  9                                                  (under)
9390  nan  None  None  None  None  None  None  None  None  None  None  None  None  None     None

[9391 rows x 15 columns]

In [98]:
sorted_df.Result = results[5]

In [101]:
sorted_df['Projection'] = pd.to_numeric(sorted_df.Projection)
sorted_df['Diff'] = pd.to_numeric(sorted_df.Diff)
sorted_df['Result'] = pd.to_numeric(sorted_df.Result)
sorted_df['Pick'] = pd.to_numeric(sorted_df.Pick)

In [105]:
# Determine if website pick was a win or loss (for fun, potential spinoff angle).
conditions = [
    ((sorted_df['Result'] < sorted_df['Pick']) & (sorted_df['over_under'] == 'u')),
    ((sorted_df['Result'] < sorted_df['Pick']) & (sorted_df['over_under'] == 'o')),
    ((sorted_df['Result'] > sorted_df['Pick']) & (sorted_df['over_under'] =='o')),
    ((sorted_df['Result'] > sorted_df['Pick']) & (sorted_df['over_under'] == 'u'))
    ]

# create a list of the values we want to assign for each condition
values = ['1', '0', '1', '0']

# create a new column and use np.select to assign values to it using our lists as arguments
sorted_df['successful_pick'] = np.select(conditions, values)

In [107]:
sorted_df.to_csv('betting_data.csv')